<%= erb :header %>

<h2><a href="/<%= @repo.owner %>/"><%= @repo.owner %></a> >> <a href="/<%= @repo.owner %>/<%= @repo.name %>"><%= @repo.name %></a></h2>

<dl>
	<dt>ID</dt>
	<dd><%= @repo.id %></dd>

	<dt>URL</dt>
	<dd><%= @repo.url %></dd>

	<dt>Homepage</dt>
	<dd><%= @repo.homepage %></dd>

	<dt>Name</dt>
	<dd><%= @repo.name %></dd>

	<dt>Description</dt>
	<dd><%= @repo.description %></dd>

	<dt>Created by</dt>
	<dd><%= @repo.owner %></dd>

	<dt>Commit Log</dt>
	<dd>iCal: <a href="/<%= @repo.owner %>/<%= @repo.name %>.ics"><%= request.url %>.ics</a></dd>

</dl>

<%= erb :footer %>
