<!DOCTYPE html>
<html>
<head>
<% include ../partials/header.ejs %>
</head>
<body>

<div class="right">
  <form action='/' method="GET">
    <input type="text" name="repo" class="small" />
    <input type="submit" value="1 UP" class="small" />
  </form>
</div>

<h1 class="left"><a href="/">GitHub High Scores</a></h1>

<div class="wrapper">

  <h2><a href="/<%= owner %>"><%= owner %></a> &gt;&gt; <a href="/<%= owner %>/github-high-scores">github-high-scores</a> &gt;&gt; <a href="/<%= owner %>/github-high-scores/high_scores">High Scores</a></h2>

  <table>
    <tr>
      <th>Score</th>
      <th>Avatar</th>
      <th>User</th>
    </tr>
  <% scores.map(function(user) { %>
    <tr id="person-<%= user.username %>">
      <div itemscope itemtype="http://data-vocabulary.org/Person">
        <td><%= user.score %></td>
        <td>
          <img itemprop="photo" src="<%= user.avatar %>" width="50" height="50">
        </td>
        <td>
          <span itemprop="nickname"><a href="/<%= user.username %>"><%= user.username %></a></span>
        </td>
        <td>
          <a class="permalink" href="#person-<%= user.username %>"></a>
        </td>
    </tr>
  <% }); %>
  </table>

  <p class="small">Permalink: <a href="http://gitscore.heroku.com/<%= owner %>/<%= repo %>">http://gitscore.heroku.com/<%= owner %>/<%= repo %></a></p>

  <p class="small"><a href="http://twitter.com/share?text=Check+out+the+high+score+chart+for+my+<%= repo %>+repo+on+GitHub%21&url=http%3A%2F%2Fgitscore.herokuapp.com%2F<%= owner %>%2F<%= repo %>" target="_blank">Tweet this!</a></p>
</div>

<% include ../partials/footer.ejs %>

</body>
</html>
